.payment {
  background-color: white;
}
.payment_container > h1 {
  text-align: center;
  padding: 10px;
  font-weight: 400;
  background-color: rgb(234, 237, 237);
  border-bottom: 1px solid lightgray;
}
.payment_container > h1 > a {
  /* text-decoration: none; */
  color: black;
}

.payment_section {
  display: flex;
  padding: 20px;
  margin: 0 20px;
  border-bottom: 1px solid lightgray;
}

.payment_title {
  flex: 0.2;
}
.payment_address,
.payment_items,
.payment_details {
  flex: 0.8;
}

.payment_price_container {
  margin-top: 10px;
}
.payment_price_container > button {
  background: #f0c049;
  margin-top: 10px;
  color: #111;
  padding: 5px 10px;
  border-radius: 2px;
  width: 20%;
  outline: none;
  border: 0;
}

.payment_price_container > button:hover {
  background: #ffc000;
  outline: none;
  cursor: pointer;
}
